<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="errorlevelAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>N:\WorkSpace\jeecms\error_level.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>N:\WorkSpace\jeecms\error_level-%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>

        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator> <!-- defaults to type ch.qos.logback.classic.boolex.JaninoEventEvaluator -->
                <expression>return message.contains("cs123123");</expression>
            </evaluator>
            <OnMismatch>DENY</OnMismatch>
            <OnMatch>NEUTRAL</OnMatch>
        </filter>

    </appender>

    <root level="TRACE">
        <appender-ref ref="errorlevelAppender"/>
    </root>


</configuration>
